<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>web记事本</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="app">
    <div>
        <div class="header-bar">
            {{title}}
        </div>
    </div>
    <div class="row" id="main">
        <div class="col-md-2 side-bar">
            <div class="row" style="margin:0px;">

                <div class="col-md-6 btn-del btn operation" @click="deleteRecord(editedRecord)">删除</div>
                <div class="col-md-6 btn-add btn operation" @click="addRecord"><i class="fa fa-plus"></i>新增记录</div>

            </div>
            <div>
                <ol>
                    <li v-for="record in records |orderBy 'id' -1"
                        class="record"
                        @click="editRecord(record)">
                        {{record.title}}
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-10 ta">
            <div class="row">
                <input type="text" class="col-md-6" v-model="RecordTitle" placeholder="标题"/>
                <input type="text" class="col-md-4" v-model="RecordURL" placeholder="分享地址"/>
                <button class="btn btn-default col-md-1" @click="shareRecord(editedRecord)">生成分享URL</button>
                <button class="btn btn-success col-md-1" @click="saveRecord(editedRecord)">保存</button>
            </div>
            <div class="row container">
                <textarea id="textarea" class="form-control col-md-12" v-model="RecordMessage" placeholder="消息内容" autofocus spellcheck="false"></textarea>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

<script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="script.js"></script>
<script>
    
    document.getElementById('textarea').onkeydown = function (e) {
        if (e.keyCode == 9) {
            insertAtCursor('    ');
            return false;
        }
    }

   
    function insertAtCursor(myValue) {
        myField = document.getElementById("textarea");
        //IE support
        if (document.selection) {
            myField.focus();
            sel = document.selection.createRange();
            sel.text = myValue;
        }
            //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
            var startPos = myField.selectionStart;
            var endPos = myField.selectionEnd;
            myField.value = myField.value.substring(0, startPos)
	            + myValue
	            + myField.value.substring(endPos, myField.value.length);
            myField.selectionStart = startPos + myValue.length;
            myField.selectionEnd = startPos + myValue.length;
        } else {
            myField.value += myValue;
        }
    }
</script>
</body>
</html>
